<!-- Kopfzeilenbereich -->
<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button>
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-back-button>
    </ion-buttons>

    <ion-title>&Uuml;ber diese App</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="goHome()">
        <ion-icon slot="icon-only" name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="AnzeigeEinstellungen()">
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- Hauptbereich der Seite -->
<ion-content class="fullscreen">
  <ion-grid>
    <ion-row>
      <ion-col  size-md="8" offset-md="2">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Autor:</ion-card-subtitle>
            <ion-card-title>Claus J. Bauer</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Kontakt: <a href='mailto:claus@clausjbauer.de'>Email an den Autor</a>
            <br />
            erstellt: 02.02.2021 20:00
            <br />
            <br />
            <ion-button (click)="AnzeigeDetails()">weitere Details anzeigen</ion-button>
            <ion-textarea rows="0" maxlength="20" readonly id="txtAppVersion" value=''></ion-textarea>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!-- Fußzeilenbereich -->
<ion-footer class="ion-no-border">
  <ion-toolbar color="secondary">
  </ion-toolbar>
</ion-footer>
