<!-- Kopfzeilenbereich -->
<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button (click)="goHome()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Einstellungen</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Hauptbereich der Seite -->
<ion-content  [fullscreen]="true" class="ion-padding">
  <h1>diese Seite zeigt die Einstellungen</h1>
</ion-content>

<!-- Fußzeilenbereich -->
<ion-footer class="ion-no-border">
  <ion-toolbar color="secondary">
  </ion-toolbar>
</ion-footer>
