/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.optimal {
    border-left: 0px solid;
    border-top: 0px solid;
    border-right: 0px solid;
    border-bottom: 3px solid lightgreen;
    background-color: rgb(207, 255, 207);
}
.normal {
    border-left: 0px solid;
    border-top: 0px solid;
    border-right: 0px solid;
    border-bottom: 3px solid green;
    background-color: rgb(164, 235, 164);
}
.hochnormal {
    border-left: 0px solid;
    border-top: 0px solid;
    border-right: 0px solid;
    border-bottom: 3px solid yellow;
    background-color: rgb(255, 255, 179);
}
.stufe1 {
    border-left: 0px solid;
    border-top: 0px solid;
    border-right: 0px solid;
    border-bottom: 3px solid rgb(255, 186, 83);
    background-color: rgb(245, 235, 223);
}
.stufe2 {
    border-left: 0px solid;
    border-top: 0px solid;
    border-right: 0px solid;
    border-bottom: 3px solid rgb(255, 138, 138);
    background-color: rgb(255, 235, 235);
}
.stufe3 {
    border-left: 0px solid;
    border-top: 0px solid;
    border-right: 0px solid;
    border-bottom: 3px solid red;
    background-color: rgb(255, 235, 235);
}
.puls_langsam {
    border-left: 0px solid;
    border-top: 0px solid;
    border-right: 0px solid;
    border-bottom: 3px solid aqua;
    background-color: rgb(235, 255, 255);
}
.puls_normal {
    border-left: 0px solid;
    border-top: 0px solid;
    border-right: 0px solid;
    border-bottom: 3px solid green;
    background-color: rgb(164, 235, 164);
}
.puls_schnell {
    border-left: 0px solid;
    border-top: 0px solid;
    border-right: 0px solid;
    border-bottom: 3px solid red;
    background-color: rgb(255, 235, 235);
}
.gew_normal {
    border-left: 0px solid;
    border-top: 0px solid;
    border-right: 0px solid;
    border-bottom: 3px solid green;
    background-color: rgb(164, 235, 164);
}
