/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.optimal {
    border-left: 0px solid green;
    border-top: 0px solid green;
    border-right: 0px solid green;
    border-bottom: 3px solid green;
    background-color: rgb(212, 238, 212);
}
.normal {
    border-left: 0px solid rgb(155, 255, 155);
    border-top: 0px solid rgb(155, 255, 155);
    border-right: 0px solid rgb(155, 255, 155);
    border-bottom: 3px solid rgb(155, 255, 155);
    background-color:  rgb(231, 253, 231);
}
.hochnormal {
    border-left: 0px solid rgb(221, 224, 70);
    border-top: 0px solid rgb(221, 224, 70);
    border-right: 0px solid rgb(221, 224, 70);
    border-bottom: 3px solid rgb(221, 224, 70);
    background-color:  rgb(245, 245, 227);
}
.stufe1 {
    border-left: 0px solid rgb(248, 134, 72);
    border-top: 0px solid rgb(248, 134, 72);
    border-right: 0px solid rgb(248, 134, 72);
    border-bottom: 3px solid rgb(248, 134, 72);
    background-color:  rgb(245, 231, 223);
}
.stufe2 {
    border-left: 0px solid rgb(255, 68, 68);
    border-top: 0px solid rgb(255, 68, 68);
    border-right: 0px solid rgb(255, 68, 68);
    border-bottom: 3px solid rgb(255, 68, 68);
    background-color:  rgb(255, 232, 232);
}
.stufe3 {
    border-left: 0px solid red;
    border-top: 0px solid red;
    border-right: 0px solid red;
    border-bottom: 3px solid red;
    background-color: rgb(255, 235, 235);
}
.puls_normal {
    border-left: 0px solid green;
    border-top: 0px solid green;
    border-right: 0px solid green;
    border-bottom: 3px solid green;
    background-color: rgb(212, 238, 212);
}
.puls_langsam {
    border-left: 0px solid aqua;
    border-top: 0px solid aqua;
    border-right: 0px solid aqua;
    border-bottom: 3px solid aqua;
    background-color: rgb(235, 255, 255);
}
.puls_schnell {
    border-left: 0px solid lightcoral;
    border-top: 0px solid lightcoral;
    border-right: 0px solid lightcoral;
    border-bottom: 3px solid lightcoral;
    background-color: rgb(240, 224, 224);
}
.gew_normal {
    border-left: 0px solid lightgreen;
    border-top: 0px solid lightgreen;
    border-right: 0px solid lightgreen;
    border-bottom: 3px solid lightgreen;
    background-color: rgb(222, 236, 222);
}
