<!-- Kopfzeilenbereich -->
<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>
      <font size="3">Gesundheitsdaten</font>
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="goInfo()">
        <ion-icon slot="icon-only" name="information-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="AnzeigeEinstellungen()">
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- Hauptbereich der Seite -->
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card>
          <ion-card-header>
            <img src="assets/img/stethoscope.jpg" (click)="presentAlertConfirm()" />
            <div  style="text-align-last: right;">
              <ion-card-subtitle>
                <font size="1">Quelle: <a href="https://pixabay.com/de/photos/stethoskop-arzt-medizin-medizinisch-1584222/" target="_blank" rel="noopener">hier klicken</a></font>
              </ion-card-subtitle>
            </div>
            <br />
            <ion-card-title mode="md">Gesundheitsdaten</ion-card-title>     <!-- mode="md" stellt sicher, dass das Wort auf beiden Plattformen lesbar ist -->
          </ion-card-header>
          <ion-card-content>
            Mit dieser App können Sie folgende Gesundheitsdaten erfassen:
            <br /><br /><h2>Blutdruck (Systole und Diastole)<br />Puls<br />Gewicht</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!-- Fußzeilenbereich -->
<ion-footer class="ion-no-border">
  <ion-toolbar color="secondary">
    <!-- <ion-textarea slot="start" readonly id="txtStatus" value=""></ion-textarea> -->
    <ion-buttons slot="end">
      <ion-button (click)="AnzeigeTabelle()">Eintr&auml;ge
        <ion-icon slot="start" name="document-text-outline"></ion-icon>
        <!-- <ion-badge>{{rec_count}}</ion-badge> -->
      </ion-button>
    </ion-buttons>
    <!-- <ion-buttons slot="end">
      <ion-button (click)="AnzeigeDiagramm()">
        <ion-icon slot="icon-only" name="trending-up-outline"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-footer>
